/* Estilo para o Footer */
.footer {
  background-color: #333; /* Cor de fundo do Footer */
  color: white; /* Cor do texto */
  padding: 15px; /* Padding para espaçamento */
  text-align: center; /* Alinha o texto no centro */
  position: fixed; /* Fixa o Footer na parte inferior */
  bottom: 0; /* Alinha ao fundo da página */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Largura 100% */
  z-index: 999; /* Garante que o footer fique acima de outros conteúdos */
}

/* Estilo do link de e-mail no Footer */
.footer-email {
  color: #fff; /* Cor do link */
  text-decoration: none; /* Remove sublinhado */
  font-size: 16px; /* Tamanho da fonte */
}

.footer-email:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estilo do texto de direitos autorais */
.footer p {
  margin: 10px 0 0; /* Margem para ajustar o espaçamento */
  font-size: 14px; /* Tamanho da fonte */
}
