*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: white; 
  font-family: Arial, sans-serif; 
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; 
  padding: 20px;
}

.header {
  background-color: #333; 
  color: #fff;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.footer {
  background-color: #333; 
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.header a:hover {
  text-decoration: underline;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movies-list img {
  width: 200px;
  height: 300px;
}

.movies-list h3,
.movies-list p {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
